global:
  resolve_timeout: 5m

route:
  receiver: slack-notifications
  group_by: ["alertname", "service"]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 2h

receivers:
  - name: slack-notifications
    slack_configs:
      - api_url: "https://hooks.slack.com/services/XXXXXXXXXXX"
        channel: "#first-task"
        send_resolved: true
        title: "{{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})"
        text: >-
          *Summary:* {{ .CommonAnnotations.summary }}
          *Description:* {{ .CommonAnnotations.description }}
          *Service:* {{ .CommonLabels.service }}
          *Instance:* {{ .CommonLabels.instance }}
